.header {
    padding: 20px;
    background-color: #33539E;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.theBank, .work, .laptops, .buyLaptop {
    background-color: #DAD9D9;
    border: 1px solid black;
    border-radius: 8px;
}
.theBank, .work, .laptops {
    width: 30%;
    height: 350px;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    padding: 10px;
}

.leftPart, .middlePart, .rightPart {
    width: 30%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.row:after, .buyLaptop:after {
    content: "";
    display: table;
    clear: both;
}

.buyLaptop button {
    padding: 16px;
    background-color: #E8B7D4;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    width: 50%;
    margin-left: 40%;
    font-weight: bold;
}

.buyLaptop h1 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.buyLaptop #laptopDescription {
    text-align: center;
    font-size: 18px;
}

.buyLaptop #laptopPrice{
    text-align: center;
    margin-left: 25%;
    font-size: 20px;
    font-weight: bold;
}

.buyLaptop img {
    width: 200px;
    margin-left: 5%;
    padding: 10px;
}
#buyLaptop {
    margin: 1%;
    visibility:hidden;
}

h2 {
    text-align: center;
    font-size: 27px;
}

h4 {
    text-align: left;
    font-size: 22.5px;
    margin-top: 4%;
    margin-bottom: 0;
}

table {
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}

.theBank td, .work td {
    float: left;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.laptops p {
    text-align: left;
    font-size: 18px;
    margin-bottom: 2%;
}

.theBank button {
    padding: 16px;
    background-color: #BFB8DA;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 25%;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
}
.work #button_bank, .work #button_work{
    float: left;
    padding: 16px;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 25%;
    width: 35%;
    margin-left: 10%;
    font-weight: bold;
}

#button_bank{
    background-color: #7FACD6;
}

#button_work {
    background-color: #A5678E;
}

#button_replayLoan {
    visibility:hidden;
    padding: 16px;
    background-color: #BFB8DA;
    color: black;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
}

